<div class="container">
  <div class="box">
    <h1>Registered Employees</h1>
    <div>
      <button type="button" id="new" routerLink="/register">Register</button>
    </div>
  </div>
  <hr>

  <table class='table table-dark' style='background-color:#181818'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Employee Name</th>
        <th scope='col'>Age</th>
        <th scope='col'>Contact No.</th>
        <th scope='col'>Address</th>
        <th scope='col'>Email</th>
        <th scope='col'>Bio</th>
        <th scope='col'></th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tr *ngFor="let pp of sdat; let num = index">
      <td scope='row'>{{ num + 1 }}</td>
      <td>{{ pp.empName }}</td>
      <td>{{ pp.age }}</td>
      <td>{{ pp.cNo }}</td>
      <td>{{ pp.addrr }}</td>
      <td>{{ pp.email }}</td>
      <td>{{ pp.bbio }}</td>
      <td><button type="button" id="edit" (click) = "onEdit()" >Edit</button></td>
      <td><button type="button" id="del" (click) = "onDel()" >Delete</button></td>
    </tr>
  </table>
</div>